<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="CloneConnectionString" value="Server=.\Dev;Trusted_Connection=True;Database=Forex" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Redgate.SQLClone.Server" value="http://localhost:14144/" />
  </appSettings>
 </configuration>

